.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.pokemon-info {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.sprites {
  text-align: center;
}

.sprites img {
  margin: 10px;
  width: 100px;
  height: 100px;
}

.moves {
  text-align: left;
}

.moves ul {
  list-style-type: none;
  padding: 0;
}

.moves li {
  font-size: 18px;
  margin: 5px 0;
}

.err-region{
  color:red
}

.get-pokemon-form , .Pokemon-card{
  margin:100px;
  padding: 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  width: 50%;
  margin-left:20%
}
.button{
  padding:10px;
  background-color: brown;
  color:white;
}
.div-region{
  padding: 10px;
}
